<div class="category-bar">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/viewCategories">A</a></li>
        <li><a href="#/viewCategories">B</a></li>
        <li><a href="#/viewCategories">C</a></li>
       </ul>
    </div>
  </div>
</div>
</nav>
</div>

<section class="wikilist">
    <div class="row">
      <div class="search">
        <h3 class="animated shake">This is the MEAN Wiki pages</h3>
        <p class="animated bounceInDown">Data is fetched from a REST service, connected to MongoDB </p>
          <label>search: </label>
          <input ng-model="query" placeholder="Search wiki" autofocus/>

          <table ng-show="query">
              <tr>
                  <th>Title</th>
              </tr>
              <tr ng-repeat="wikiPage in wiki | filter:query | orderBy:'title'">
                  <td><a href="#/{{wikiPage.title}}">{{wikiPage.title}}</a></td>
              </tr>
          </table>
      </div>
    </div>
</section>